/* Gallery container*/
#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "gallery-p gallery-p gallery-p gallery-p gallery-p"
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2 gallery-h2"
    "img1 img2 img3 img4 img5"
    "img6 img7 img8 img9 img10"
    "img11 img12 img13 img14 img15";    
}

#index-gallery .gallery-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    
}

/* Images */
#index-gallery p{
    grid-area: gallery-p;
}#index-gallery h2 {
    grid-area: gallery-h2;
}
#index-gallery .img1 {
    grid-area: img1;
    background-image: url("../img/thumbs/img1.png");
}
#index-gallery .img2 {
    grid-area: img2;
    background-image: url("../img/thumbs/img2.png");
}
#index-gallery .img3 {
    grid-area: img3;
    background-image: url("../img/thumbs/img3.png");
}
#index-gallery .img4 {
    grid-area: img4;
    background-image: url("../img/thumbs/img4.png");
}
#index-gallery .img5 {
    grid-area: img5;
    background-image: url("../img/thumbs/img5.png");
}
#index-gallery .img6 {
    grid-area: img6;
    background-image: url("../img/thumbs/img6.png");
}
#index-gallery .img7 {
    grid-area: img7;
    background-image: url("../img/thumbs/img7.png");
}
#index-gallery .img8 {
    grid-area: img8;
    background-image: url("../img/thumbs/img8.png");
}
#index-gallery .img9 {
    grid-area: img9;
    background-image: url("../img/thumbs/img9.png");
}
#index-gallery .img10 {
    grid-area: img10;
    background-image: url("../img/thumbs/img10.png");
}
#index-gallery .img11 {
    grid-area: img11;
    background-image: url("../img/thumbs/HomePg1.png");
}
#index-gallery .img12 {
    grid-area: img12;
    background-image: url("../img/thumbs/HomePg2.png");
}
#index-gallery .img13 {
    grid-area: img13;
    background-image: url("../img/thumbs/LogInPg1.png");
}
#index-gallery .img14 {
    grid-area: img14;
    background-image: url("../img/thumbs/LogInPg2.png");
}
#index-gallery .img15 {
    grid-area: img15;
    background-image: url("../img/thumbs/Mission3guide.png");
}

/* Gallery image titles */
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-img a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

/*Popup window when clicked */
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.img-window img {
    max-height: 80vh;
    max-width: 80vw; 
}

/* Next image */
.img-btn-next {
    display: block;
    padding: 26px 30px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    cursor: pointer;
    text-transform: uppercase;
}
.img-btn-next:hover {
    opacity: 0.8;
}
.img-btn-prev {
    display: block;
    padding: 26px 30px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 70vh;
    z-index: 800;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    cursor: pointer;
    text-transform: uppercase;
}
.img-btn-prev:hover {
    opacity: 0.8;

}
